<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCR9gASMc9efgJ0PEOVUQh8Bp_-lFsiMlk</string>
	<key>GCM_SENDER_ID</key>
	<string>105553076470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KEITH.HOOWHO</string>
	<key>PROJECT_ID</key>
	<string>hoowho-c213c</string>
	<key>STORAGE_BUCKET</key>
	<string>hoowho-c213c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105553076470:ios:2bee57db7b26ba2fcb4cd7</string>
</dict>
</plist>